<nav class="navbar navbar-expand-md navbar-dark bg-secondary mb-4">
    <div class="container">
        <a routerLink="" Class="navbar-brand ml-auto">eThute</a>
        <button class="navbar-toggler" type="button" data-togle="collapse" data-target="#navbarMain">
            <span class="navbar-toggler-icon">

            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    
                </li>
                <li class="nav-ittem">
                    
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                   
                </li>
                <li class="nav-item">
                    
                </li>
            </ul>
        </div>
    </div>
</nav>
