<body>
    <body>
        <div class="container site-wrapper" >
            <div class="aligner">
                <div class="close-button">
                    <button class="shadow sqr-btn"><i class="close-button-icon material-icons">close</i></button>
                </div>
                <div class="profile-card shadow">
                    <div class="card-avatar">
                        <img src="assets/images/avatar.png" class="card-avatar-img">
                    </div>
                    <div class="card-name">
                        <h3>Lindiwe Buthelezi</h3>
                    </div>
                    <div class="card-school">
                        <div><span>Grade 12, Lakeside High School</span></div>
                        <div><span>Evaton, GP</span></div>
                    </div>
                </div>
                <div class="options-container">
                    <div>
                        <button class="text-orange button shadow">
                            <i class="material-icons">settings</i>
                        </button>
                        <span class="options">Settings</span>
                    </div>
                    <div>
                        <button class="text-orange button shadow"><i class="material-icons">timeline</i></button>
                        <span class="options">Progress</span>
                    </div>
                    <div>
                        <button class="text-orange button shadow"><i class="material-icons">book</i></button>
                        <span class="options">Lessons</span>
                    </div>
                    <div>
                        <button class="text-orange button shadow"><i class="material-icons">school</i></button>
                        <span class="options">Completed Lessons</span>
                    </div>
                    <div>
                        <button class="text-orange button shadow"><i class="material-icons">cloud_download</i></button>
                        <span class="options">Downloads</span>
                    </div>
                </div>
            </div>
            
        </div>
</body>